

 
 <div class="container container-flex">
    
    <main role="main">
       
       <article class="article-featured" *ngFor="let blog of blogs">
          <h2 class="article-title">Blog Title</h2>
          <img src="https://picsum.photos/200/100" alt="" class="article-image">
          <p class="article-info">{{blog.posts[0].date}} || {{blog.posts[0].comments.length}} comments</ p>
          <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et erat sed elit tincidunt accumsan. Pellentesque pellentesque lectus at mattis fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ornare nulla at pharetra ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer ante magna, blandit at laoreet vel, tempor rutrum eros. In eu nulla cursus, viverra augue ut, pulvinar augue. Nulla facilisi. Nullam ullamcorper orci nec eros mollis, pulvinar gravida nisl eleifend. Aliquam erat volutpat.

            Pellentesque aliquam tellus at sapien facilisis facilisis. Cras ornare, magna eget mollis porttitor, neque libero efficitur felis, a pretium augue velit quis ligula. Donec venenatis eget enim sit amet suscipit. Phasellus fermentum venenatis elit id suscipit. Nulla ultrices auctor sem, porttitor tristique neque pretium nec. Morbi dictum lorem lobortis, feugiat odio sed, ullamcorper lorem. Nam efficitur cursus justo porttitor commodo. Etiam sapien tellus, porta eu faucibus non, pulvinar ac turpis.
            
            Pellentesque laoreet ligula dignissim viverra ultrices. Phasellus semper finibus massa, quis lacinia justo venenatis sit amet. Curabitur turpis tortor, tempus in ipsum auctor, consectetur semper nisl. Quisque mi ligula, pulvinar et nibh sed, volutpat consequat urna. Pellentesque posuere vestibulum nulla ac finibus. Proin ultricies mollis odio sed placerat. Ut ac malesuada quam. Nulla rhoncus urna vitae augue gravida dignissim. Sed eget lacus arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum eleifend magna eget tincidunt. Nulla facilisi.</p>
          <!-- <a href="#" class="article-read-more">CONTINUE READING</a> -->
       </article>
       
 
          <div class="row">
            <h2 class="article-title">Comments</h2>
            <p class="article-comments" *ngFor="let comments of blogs[0].posts[0].comments">{{comments}}<br></p>
  
         
          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" [(ngModel)]="comment"></textarea>
              <button (click)="addItem()" class='primaryContained float-right' >Add Comment</button>
          </div><!--End Row -->
    


    
       
    </main>
    
    <aside class="sidebar">
       
       <div class="sidebar-widget">
          <h2 class="widget-title">ABOUT ME</h2>
          <img src="img/about-me.jpg" alt="" class="widget-image">
          <p class="widget-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget mollis neque. </p>
          <p class="article-info">{{blogs[0].followers}} followers</p>
       </div>
       
       <div class="sidebar-widget">
          <h2 class="widget-title">SHOW YOUR SUPPORT</h2>
          
          <div class="widget-recent-post">
            <button class="primaryContained"><i class="fa-solid fa-thumbs-up"></i>  Like this post</button>
             <img src="img/food.jpg" alt="" class="widget-image">
          </div>
          
          <div class="widget-recent-post">
            <button class="primaryContained" style="background-color: rgb(118, 26, 26);"><i class="fa-solid fa-plus"></i>  Follow this author</button>
             <img src="img/work.jpg" alt="" class="widget-image">
          </div>
        
          
       </div>
       
    </aside>
 </div>

<
 <footer>
    <p><strong>Blogger's World</strong></p>
    <p>Copyright &copy; 2022</p>
 </footer>

